<%- include('common/metadata.ejs', {lang: 'en-US', title: title}) %>

<body style="font-feature-settings:'';">
    <div style="padding: 16px">
        <%- include('common/header.ejs', {loginAs: loginAs, noUserDropdown: false}) %>

        <div class="container">
            <h5 class="letter-space-neg05 font-weight-500"><%=headings%></h5>
            <br>
            <div class="">
                <form method="POST">
                    <div class="input-group form-group">
                        <select class="custom-select" id="draftselector" name="draft" onchange="getDraft(this)">
                            <option value="new" selected> - choose from your drafts - </option>

                            <% if (drafts) { %>
                            <% for (let i=0; i<drafts.length; i++) { %>
                            <option value="<%=drafts[i].id%>"><%=drafts[i].title%> -
                                <%=drafts[i].abstract%></option>
                            <% } %>

                            <% } %>
                        </select>

                        <div class="input-group-append">
                            <input class="btn btn-outline-primary mb-2" type="button" value="remove" />
                        </div>
                    </div>

                    <% if (post) {%>
                    <div class="input-group form-group">
                        <select class="custom-select" id="historyselector" name="history"
                            onchange="getPostHistory(this)">
                            <option value="new" selected> - choose from history edits - </option>
                            <% if (post.history.length > 0) { %>
                            <% for (let i=0; i<post.history.length; i++) { %>
                            <option value="<%=i%>"><%=post.history[i].title%> -
                                <%=post.history[i].modifiedAt.toString() %>
                            </option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <% } %>
                    <br>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">📰</div>
                            </div>
                            <input name="title" type="text" class="form-control" id="titlefield" placeholder="title..."
                                <% if(post) { %> value="<%=post.title%>" <% } %>>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ℹ️</div>
                            </div>
                            <input name="brief" type="text" class="form-control" id="brieffield" placeholder="brief..."
                                <% if(post) { %> value="<%=post.abstract%>" <% } %>>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">🏷️</div>
                            </div>
                            <input name="tags" type="text" class="form-control" id="tagsfield"
                                placeholder="tags, seperate with comma..." <% if(post) { %>
                                value="<%=post.tags.join(', ')%>" <% } %>>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="body" class="form-control" id="posteditfield"
                            placeholder="you can format with HTML <tags/> or markdown"
                            style="border-bottom-left-radius: 0;" rows="0" onchange="ackTextChanged(this)"
                            oninput="autoGrow(this)"
                            onclick="initAutoGrow(this)"><% if(post) { %><%=post.body%><% } %></textarea>

                        <div class="btn-group btn-group-sm" role="group" aria-label="editingGroup">
                            <button type="button" class="btn text-white bg-gunjou-0" style="border-top-left-radius: 0;" onclick="textEditorAddStyle(this, '#posteditfield', '**')">
                                <span style="font-weight: 600;">B</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-1" onclick="textEditorAddStyle(this, '#posteditfield', '*')">
                                <span style="font-style: italic; font-family: serif;">I</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-2" onclick="textEditorAddHyperlink(this, '#posteditfield')">
                                <span>link</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-3" onclick="textEditorAddLinePrefix(this, '#posteditfield', '>')">
                                <span>quote</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-4" onclick="textEditorAddCode(this, '#posteditfield')">
                                <code style="color:white">code</code>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-5" onclick="textEditorAddLinePrefix(this, '#posteditfield', '-')">
                                <span>list</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-6" onclick="textEditorAddLinePrefix(this, '#posteditfield', '1.')">
                                <span>ordered list</span>
                            </button>
                            <button type="button" class="btn text-white bg-gunjou-7" onclick="textEditorAddHorizontalLine(this, '#posteditfield')">
                                <span>hr</span>
                            </button>
                            <input type="file" name="file" id="photouploader" accept="image/*" style="display: none;" onchange="handlePhotoUpload(this, '#photoUploadBtn', '#posteditfield')">
                            <button type="button" class="btn text-white bg-gunjou-8" id="photoUploadBtn"
                                style="border-top-right-radius: 0;" onclick="textEditorUploadPhoto(this, '#photouploader')">
                                <span>add photo</span>
                            </button>
                            
                        </div>
                        <hr>
                    </div>

                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input name="isprivate" class="form-check-input" type="checkbox" id="privatepostcheckbox"
                                value="isprivate" <% if(post && post.isPrivate)  { %> checked <% } %>>
                            <label class="form-check-label" for="privatepostcheckbox">private post</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="disablecomment" class="form-check-input" type="checkbox"
                                id="disablecommentcheckbox" value="disablecomment"
                                <% if(post && !post.enableComment)  { %> checked <% } %>>
                            <label class="form-check-label" for="disablecommentcheckbox">disable comment</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="newdraftcheckbox" value="option3">
                            <label class="form-check-label" for="newdraftcheckbox">save as new draft</label>
                        </div>
                    </div>

                    <div style="text-align: right;">

                        <div class="btn-group w-100" role="group" aria-label="edting-button-group">
                            <input id="preview-btn" type="button" value="Preview"
                                class="btn text-white bg-gunjou-2 mb-2" />
                            <input id="savetodraft-btn" onclick="saveToDraft(this)"
                                class="btn text-white bg-gunjou-5 mb-2" type="button" value="Save to Drafts"
                                formaction="/savetodraft" />
                            <input class="btn text-white bg-gunjou-8 mb-2" type="submit" <% if (post) { %>
                                value="Modify Post" <% } else { %> value="Add to Posts" <% } %>
                                formaction="<%=formaction%>" />

                        </div>
                        <% if (post) { %>
                        <input class="btn btn-warning mb-2" type="button" value="Move to Recycle Bin" />
                        <% } %>
                    </div>

                </form>
            </div>
        </div>
        <div class="container">
            <div id="content-display">
                <div id="content" class="post-text"></div>
            </div>
        </div>
        <%- include('common/footer.ejs') %>
    </div>

    <script>
        var originalContent = $('#content').html();
        var isPreviewed = false;
        $("#preview-btn").click(function () {
            $('#content').html('<hr>' + marked($('#posteditfield').val()));
            if (!isPreviewed) {
                let previewButtonClone = $('#preview-btn').clone();
                previewButtonClone.val("Remove Preview");
                previewButtonClone.click(function () {
                    $('#content').html(originalContent)
                    $('#preview-btn').text('Preview');
                    $(this).remove();
                    isPreviewed = false;
                })
                $('#content-display').append(previewButtonClone);
            }
            isPreviewed = true;
        });

    </script>
    <% if (post) { %>
    <script>
        $('#preview-btn').click();
        renewTempDraft();
        console.log(tempDraft);
    </script>
    <% } %>
</body>