<%- include('common/metadata.ejs', {lang: 'en-US', title: title}) %>

<body style="font-feature-settings:'';">
    <div style="padding: 16px">
        <%- include('common/header.ejs', {loginAs: loginAs}) %>
        <div class="container">
            <%- include('common/post-view-visitor.ejs', {post: post}) %>
            <br>
            <%- include('common/post-data.ejs', {post: post, loginAs: loginAs}) %>
            <%- include('common/post-navi.ejs', {nextPost: nextPost, prevPost: prevPost}) %>
        </div>
        <%- include('common/footer.ejs') %>
    </div>
</body>