<hr class="hr-thin">
<div id="comment-<%=comment.id%>">
  <% if (comment.parentComment) { %>
    <code>&gt; in reply to <a href="#comment-<%=comment.parentComment%>" id="link-to-<%=comment.parentComment%>"><%=comment.parentComment%></a></code>
    <% } %>
  <div>
    <span><%=comment.body%></span>
  </div>
  <div style="font-size: 90%;" class="post-data">
    <code id="comment-no-<%=comment.id%>">#<%=i%></code> | <%=comment.author.name%> | <%=comment.createdAt.toLocaleString()%> | <a href="#replyto" id="replyto<%=i%>" value="<%=i%>">reply</a>
  </div>
</div>