<div id="postdata">
    <div id="postdata-header" class="post-data letter-space-neg05 font-weight-400">
        <span>viewed <%=post.viewCount%> times |</span>
        <a data-toggle="collapse" href="#comments-div" aria-expanded="false" aria-controls="collapseExample">
            <span id="comment-count">comments (<%=post.comments.length%>)</span>
            <span id="commentarrow" class="symbol-monospace">↓</span>
        </a>
    </div>
    <div id="comments-div" class="collapse">
        <div id="comments-area">
            <% if (post.comments.length > 0) { %>
            <%- include('comments-area', { comments: post.comments }) %>
            <% } %>
        </div>
        <hr class="hr" style="margin-top: 4px;">
        <div id="comment-post">
            <!--form method="POST"-->
            <div class="form-row">
                <div class="form-group w-100 col">
                    <textarea type="text" class="form-control" id="commenteditfield" name="comment"
                        placeholder="comment here..."></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label for="commentauthor" class="col-form-label-sm">name:</label>
                </div>
                <div class="form-group col-auto">
                    <% if (loginAs) { %>
                    <input type="text" class="form-control form-control-sm" id="commentauthor" name="name"
                        value="<%=loginAs.name%>">
                    <% } else { %>
                    <input type="text" class="form-control form-control-sm" id="commentauthor" name="name"
                        value="anonymous">
                    <% } %>
                </div>
                <div class="form-group col-auto">
                    <label for="replyto" class="col-form-label-sm">reply to:</label>
                </div>
                <div class="form-group col-auto">
                    <select id="replyto" name="replyto" class="form-control-sm form-control">
                        <option value="noreply" selected>...</option>
                        <% for( let i = 0; i < post.comments.length; i++ ) { %>
                        <option id="replyoption<%=i%>" value="<%=post.comments[i].id%>">#<%=i%></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm" id="commentsubmit">Comment</button>
                </div>
            </div>
            <script>
                let refers = $("a[id^=link-to]");
                for (let i = 0; i < refers.length; i++) {
                    let refer = refers[i]
                    $(refer).text($('#comment-no-' + $(refer).text()).text())
                }

                $("a[id^=replyto").click(function () {
                    console.log($(this).prop('href'))
                });

                $("a[id^=link-to-").click(function () {
                    let replytoCommentElement = $('#' + $(this).prop('href').split('#')[1]);
                    replytoCommentElement.addClass('comment-emphasized');

                    setTimeout(() => {
                        replytoCommentElement.removeClass('comment-emphasized');
                    }, 1000)
                })

                $('#commentsubmit').click(function () {
                    let params = {
                        isAjax: true,
                        comment: $('#commenteditfield').val(),
                        replyto: $('#replyto').val(),
                        name: $('#commentauthor').val()
                    }
                    $.ajax({
                        url: '<%=post.id%>/addcomment',
                        type: 'POST',
                        dateType: 'json',
                        data: params
                    }).done(function (data) {
                        console.log(data)
                        $('#comments-area').html("");
                        $('#comments-area').html(data.comments);
                        $('#replyto').html(data.replytoOptions);
                        let refers = $("a[id^=link-to]");
                        for (let i = 0; i < refers.length; i++) {
                            let refer = refers[i]
                            $(refer).text($('#comment-no-' + $(refer).text()).text())
                        }
                        $("a[id^=replyto").click(function () {
                            console.log($(this).prop('href'))
                        });
                        $("a[id^=link-to-").click(function () {
                            let replytoCommentElement = $('#' + $(this).prop('href').split('#')[1]);
                            replytoCommentElement.addClass('comment-emphasized');

                            setTimeout(() => {
                                replytoCommentElement.removeClass('comment-emphasized');
                            }, 1000)
                        });
                        $('#comment-count').text('comments (' + data.commentsCount + ')')
                    }).fail(() => {
                        alert('BadRequest')
                    })


                })
            </script>
            <!--/form-->
        </div>
    </div>
</div>