<div id="postdata">
    <div id="postdata-header" class="post-data letter-space-neg05 font-weight-400">
        <span>viewed <%=post.viewCount%> times |</span>
        <a data-toggle="collapse" href="#comments-div" aria-expanded="false" aria-controls="collapseExample">
            <span id="comment-count">comments
                (<%=post.comments.filter((comment) => {return !comment.disabled}).length%>)</span>
            <span id="commentarrow" class="symbol-monospace">↓</span>
        </a>
    </div>
    <div id="comments-div" class="collapse">
        <div id="comments-area">
            <% if (post.comments.length > 0) { %>
            <% if (loginAs) { %>
            <%- include('comments-area', { comments: post.comments , editable: (loginAs.isAdmin || (loginAs.username == post.author.username ))}) %>
            <% } else { %>
            <%- include('comments-area', { comments: post.comments , editable: false}) %>
            <% } %>
            <% } %>
        </div>
        <hr class="hr">
        <div id="comment-post">
            <!--form method="POST"-->
            <div class="form-row">
                <div class="form-group w-100 col">
                    <textarea type="text" class="form-control" id="commenteditfield" name="comment"
                        placeholder="comment here..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">homepage</div>
                    </div>
                    <% if (loginAs) { %>
                    <input type="text" class="form-control" id="commentauthorhomepage" name="homepage"
                        value="/user/<%=loginAs.username%>">
                    <% } else { %>
                    <input type="text" class="form-control" id="commentauthorhomepage" name="homepage">
                    <% } %>
                </div>
            </div>
            <div class="form-row">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">name</div>
                        </div>
                        <input type="text" class="form-control" id="commentauthor" placeholder="" name="name" style="width: 8rem"
                        <% if (loginAs) { %>  value="<%=loginAs.name%>" <% } %> >
                    </div>
                </div>

                <div class="col-auto"><label for="replyto" class="col-form-label">reply to:</label></div>
                <div class="form-group col-auto">
                    <select id="replyto" name="replyto" class="form-control">
                        <option value="noreply" selected>...</option>
                        <% for( let i = 0; i < post.comments.length; i++ ) { %>
                        <% if (!post.comments[i].disabled) { %>
                        <option id="replyoption<%=i%>" value="<%=post.comments[i].id%>">#<%=i%></option>
                        <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" id="commentsubmit" onclick="addComment(this)">Comment</button>
                </div>
            </div>
            <script>
                initComments();
            </script>
            <!--/form-->
        </div>
    </div>
</div>