<div class="container">
    <div id="posts">
        <% for(let i = 0; i < posts.length; i++) { %>
        <%- include('post-caption.ejs', {post: posts[i]}) %>
        <% } %>
        <br>
        <div class="row">
            <div class="col-auto">
                <div class="letter-space-neg05">
                    <% if (pageno != 1) { %>
                    <a class="page-navigator" href="/post/page/<%=pageno-1%>/?perpage=<%=postPerPage%>">newer posts</a>
                    <span>
                        &nbsp; ← <% } %>page
                        <select id="pagination-selector" onchange="window.location=this.value">
                            <% for (let i = 1; i <= pageCount; i++) { %>
                            <% if (pageno != i) { %>
                            <option value="/post/page/<%=i%>/?perpage=<%=postPerPage%>"><%=i%></option>
                            <% } else { %>
                            <option selected value="/post/page/<%=i%>/?perpage=<%=postPerPage%>"><%=i%></option>
                            <% } %>
                            <% } %>
                        </select>
                        of <%=pageCount%><% if (pageno != pageCount) { %> →&nbsp;
                    </span>
                    <a class="page-navigator" href="/post/page/<%=pageno+1%>/?perpage=<%=postPerPage%>">older posts</a>
                    <% } %>

                </div>
            </div>
        </div>

    </div>
    <script>
        $("div[id^='heading']").click(function () {
            let arrowsign = $(this).children()[1].innerText;
            $(this).children()[1].innerText = (arrowsign == "↑") ? "↓" : "↑";
        })
    </script>
</div>