<div id="postdata">
    <div id="postdata-header" class="post-data letter-space-neg05 font-weight-400">
        <span>viewed <%=post.viewCount%> times |</span>
        <a data-toggle="collapse" href="#comments-div" aria-expanded="false" aria-controls="collapseExample">
            <span id="comment-count">comments
                (<%=post.comments.filter((comment) => {return !comment.disabled}).length%>)</span>
            <span id="commentarrow" class="symbol-monospace">↓</span>
        </a>
    </div>
    <div id="comments-div" class="collapse">
        <% if (loginAs) { %>
        <% if (post.comments.length > 0 && (loginAs.isAdmin || (loginAs.username == post.author.username))) { %>
        <hr class="hr-thin">
        <div><span><a href="javascript:void(0);" onclick="toggleDisabledCommentsVisibility(this)" show-all>show removed comments</a></span></div>
        <% } %>
        <% } %>
        <div id="comments-area">
            <% if (post.comments.length > 0) { %>
            <% if (loginAs) { %>
            <%- include('comments-area', { comments: post.comments , editable: (loginAs.isAdmin || (loginAs.username == post.author.username ))}) %>
            <% } else { %>
            <%- include('comments-area', { comments: post.comments , editable: false}) %>
            <% } %>
            <% } %>
        </div>
        <hr class="hr" style="margin-top: 4px;">
        <div id="comment-post">
            <!--form method="POST"-->
            <div class="form-row">
                <div class="form-group w-100 col">
                    <textarea type="text" class="form-control" id="commenteditfield" name="comment"
                        placeholder="comment here..."></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label for="commentauthor" class="col-form-label-sm">name:</label>
                </div>
                <div class="form-group col-auto" style="width: 6rem;">
                    <% if (loginAs) { %>
                    <input type="text" class="form-control form-control-sm" id="commentauthor" name="name"
                        value="<%=loginAs.name%>">
                    <% } else { %>
                    <input type="text" class="form-control form-control-sm" id="commentauthor" name="name"
                        value="anonymous">
                    <% } %>
                </div>
                <div class="form-group col-auto">
                    <label for="replyto" class="col-form-label-sm">reply to:</label>
                </div>
                <div class="form-group col-auto">
                    <select id="replyto" name="replyto" class="form-control-sm form-control">
                        <option value="noreply" selected>...</option>
                        <% for( let i = 0; i < post.comments.length; i++ ) { %>
                        <% if (!post.comments[i].disabled) { %>
                        <option id="replyoption<%=i%>" value="<%=post.comments[i].id%>">#<%=i%></option>
                        <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm" id="commentsubmit">Comment</button>
                </div>
            </div>
            <script>
                function init() {
                    let refers = $("a[id^=link-to]");
                    for (let i = 0; i < refers.length; i++) {
                        let refer = refers[i]
                        $(refer).text($('#comment-no-' + $(refer).text()).text())
                    }
                    $("a[id^=replyto").click(function () {
                        console.log($(this).prop('href'))
                    });
                    $("a[id^=link-to-").click(function () {
                        let replytoCommentElement = $('#' + $(this).prop('href').split('#')[1]);
                        replytoCommentElement.addClass('comment-emphasized');

                        setTimeout(() => {
                            replytoCommentElement.removeClass('comment-emphasized');
                        }, 1000)
                    });
                }

                init();

                $('#commentsubmit').click(function () {
                    let params = {
                        isAjax: true,
                        comment: $('#commenteditfield').val(),
                        replyto: $('#replyto').val(),
                        name: $('#commentauthor').val()
                    }
                    $(this).prop('disabled', true);
                    $.ajax({
                        url: '<%=post.id%>/addcomment',
                        type: 'POST',
                        dateType: 'json',
                        data: params
                    }).done(function (data) {
                        $('#comments-area').html(data.comments);
                        $('#replyto').html(data.replytoOptions);
                        init()
                        $('#comment-count').text('comments (' + data.commentsCount + ')')
                        $('#commentsubmit').prop('disabled', false);
                    }).fail(() => {
                        alert('BadRequest')
                        $('#commentsubmit').prop('disabled', false);
                    })


                })
            </script>
            <!--/form-->
        </div>
    </div>
</div>